.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    .contenedor-formulario {
        width: 400px;
    }
    .download {
        background: #14064e;
        color: #FFFFFF;
        padding: 10px 20px;
        margin-bottom: 20px;
        a {
            text-decoration: underline;
            color: #FFFFFF;
        }
    }
}